<!-- hello_world.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首頁</title>
    <link href="//fonts.googleapis.com/css?family=Lemon" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//djangogirlstaipei.github.io/assets/css/style.css" rel="stylesheet" type="text/css">
    
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <h1 class="site-title text-center">
            <a href="/">首頁</a>
        </h1>
    </div>
    <div  class="smart-green">  
            <a class="button" href="/loginpage">會員登入</a>    
            <a class="button" href="/userpage">註冊會員</a> 
            <a class="button" href="/messagepage">留言板</a> 
    </div>
    
    
</body>
</html>