<!-- hello_world.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>會員管理</title>
</head>
<body>
    <div>
        <h1>
            <a href="/">會員資料管理</a>
        </h1>
    </div>
    <div>
            <a class="button" href="/page_changeuser">個人資料</a>    
            <a class="button" href="/page_historytrade">過往交易明細</a> 
            <a class="button" href="/page_todaytrade">即時交易明細</a> 
            <a class="button" href="/logout">登出</a> 
    </div>
    {% if User_detail %}
        <div>
            <a>{{ User_detail.login }} 的會員資料</a>
        </div>  
        <table border="1">
            <tr>
                <TD width="150" align="right">帳號:</TD>
                <TD width="500">{{ User_detail.login }}</TD>
            </tr>
            <tr>
                <TD width="150" align="right">姓名:</TD>
                <TD width="500">{{ User_detail.name }}</TD>
            </tr>
            <tr>
                <TD width="150" align="right">暱稱:</TD>
                <TD width="500">不知道是哪個欄位</TD>
            </tr>
            <tr>
                <TD width="150" align="right">護照或身分證號碼:</TD>
                <TD width="500">不知道是哪個欄位</TD>
            </tr>
            <tr>
                <TD width="150" align="right">出生日期:</TD>
                <TD width="500">不知道是哪個欄位</TD>
            </tr>
            <tr>
                <TD width="150" align="right">經紀商介紹帳號:</TD>
                <TD width="500">不知道是哪個欄位</TD>
            </tr>
            <tr>
                <TD width="150" align="right">account:</TD>
                <TD width="500">{{ User_detail.account }}</TD>
            </tr>
            <tr>
                <TD width="150" align="right">國家:</TD>
                <TD width="500">{{ User_detail.country }}</TD>
            </tr>
            <tr>
                <TD width="150" align="right">城市:</TD>
                <TD width="500">{{ User_detail.city }}</TD>
            </tr>
            <tr>
                <TD width="150" align="right">地址:</TD>
                <TD width="500">{{ User_detail.address }}</TD>
            </tr>
            <tr>
                <TD width="150" align="right">電話:</TD>
                <TD width="500">{{ User_detail.phone }}</TD>
            </tr>
            <tr>
                <TD width="150" align="right">電子信箱:</TD>
                <TD width="500">{{ User_detail.mail }}</TD>
            </tr>
            <tr>
                <TD width="150" align="right">行動電話:</TD>
                <TD width="500">不知道是哪個欄位</TD>
            </tr>
            <tr>
                <TD width="150" align="right">備註:</TD>
                <TD width="500">不知道是哪個欄位</TD>
            </tr>
        </table>
    {% else %}
        <a class="button" href="/">請重新登入</a>
    {% endif %}
</body>
</html>