<!-- hello_world.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>即時交易明細</title>
</head>
<body>
    <div>
        <h1>
            <a href="/">即時交易明細</a>
        </h1>
    </div>
    <div>
        <a>{{ User_detail.login }} 您好</a>
    </div>

    </div>
    <div>
            <a class="button" href="/page_changeuser">個人資料</a>    
            <a class="button" href="/page_historytrade">過往交易明細</a> 
            <a class="button" href="/page_todaytrade">即時交易明細</a> 
            <a class="button" href="/logout">登出</a> 
    </div>
    {% if User_detail %}
        <div>
            <a>{{ User_detail.login }} 的即時交易明細</a>
        </div>  
        {% if todaytrade_detail %}
            <div>
                <a>即時交易明細如下</a>
            </div> 
            <table border="1">
                <thead>
                    <tr>
                        <th>時間</th>
                        <th>symbol</th>
                        <th>priceopen</th>
                        <th>pricecurrent</th>
                        <th>positionid</th>
                        <th>ratemargin</th>
                        <th>volume</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trade in todaytrade_detail  %}
                        <tr>
                            <td>{{ trade.timecreate }}</td>
                            <td>{{ trade.symbol }}</td>
                            <td>{{ trade.priceopen }}</td>
                            <td>{{ trade.pricecurrent }}</td>
                            <td>{{ trade.positionid }}</td>
                            <td>{{ trade.ratemargin }}</td>
                            <td>{{ trade.volume }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>            
        {% else %}
            <a>並無交易明細</a>
        {% endif %}
    {% else %}
        <a class="button" href="/">請重新登入</a>
    {% endif %}
    
    
    
    
</body>
</html>