<!-- hello_world.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>帳戶管理</title>
</head>
<body>
    <div>
        <h1>
            <a href="/">帳戶管理</a>
        </h1>
    </div>
    <div>
        <a>{{ message_login }} 您好</a>
    </div>

    </div>
    <div>
            <a class="button" href="/page_changeuser">個人資料</a>    
            <a class="button" href="/page_historytrade">過往交易明細</a> 
            <a class="button" href="/page_todaytrade">即時交易明細</a> 
            <a class="button" href="/logout">登出</a> 
    </div>
    
    
    
    
</body>
</html>